# Minecraft server files
server/
world/
world_nether/
world_the_end/
logs/
crash-reports/
*.log
*.jar
eula.txt

# IDE files
.idea/
.vscode/
*.iml

# Java build files
target/
build/
out/
*.class

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak
